#!/usr/bin/env bash
export AWS_SDK_LOAD_CONFIG=1 # allows the SDK to load from config. see https://github.com/aws/aws-sdk-js/pull/1391

## ====================================================================================================================
## 1. the CloudFormation stack name, e.g. "MyAppName"
## ====================================================================================================================

export STACK_NAME="MyAppName"

## ====================================================================================================================
## 2. explicitly define the account you intend to deploy into
## ====================================================================================================================

export STACK_ACCOUNT=$(aws sts get-caller-identity --query "Account" --output text)
export STACK_REGION=ap-southeast-1

## ====================================================================================================================
## 3. define the Google OAuth client ID and secret
## ====================================================================================================================
## 1. Go to https://console.developers.google.com/apis/credentials
## 2. Create a new OAuth client ID
## 3. Select "Web application"
## 4. Enter the following as the "Authorized redirect URIs":
##    - https://<your-app-domain>/oauth2/idpresponse
## 5. Enter the following as the "Authorized JavaScript origins":
##    - https://<your-app-domain>
## 6. Copy the client ID and secret into the following variables
## ====================================================================================================================

export GOOGLE_CLIENT_ID=1234567890-1234567890.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=1234567890